// Dice colors
$red-dice: crimson;
$green-dice: forestgreen;

// Dimensions
$radius: 7px;

@mixin dice-size($size) {
  width: $size;
  height: $size;
}

html, body, main, div {
  box-sizing: border-box;
}

.dice {
  @include dice-size(177px);
  background-color: $red-dice;
  border-radius: $radius;
  // Dice faces
  .one {
  }
  .two {
  }
  .three {
  }
  .four {
  }
  .five {
  }
  .six {
  }
}
